/*Encabezados*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/*Parrafos*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/*Textos*/
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:wght@100;400;600&display=swap');

/* ==========================================================================
Tipografias
========================================================================== */
p {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
  text-align: center; }

h1 {
  font-size: 65px;
  color: #2d3033;
  font-family: 'Poppins', sans-serif; }

h2 {
  font-size: 40px;
  color: #2d3033;
text-align: center; }

h3 {
  font-size: 28px;
  color: #2d3033;
  font-weight: 300; }

h4 {
  font-size: 22px;
  color: #2d3033;
  font-weight: 400; }

h5 {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700; }

.btn {
  background-color: #fff;
  color: #141531 !important;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase; }
  .btn:hover{
    background-color: rgba(255, 255, 255, 0.525);
    color: #450446; }
  .btn-large {
    padding: 15px 40px;
  display: table;}

 .boton3 {
  color: #141531!important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #fff;
  border: 2px solid;
  transition: all 1s ease;
  position: relative;
}
.boton3:hover {
  background: #4741d7;
  color: #fff !important;
}

/* ==========================================================================
	General Styles
========================================================================== */
a {
  color: #e84545; }

a:hover, a:focus {
  text-decoration: none;
  -moz-transition: background-color, color, 0.3s;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #6c7279; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none;
  padding-bottom: 10px;
}

.section {
  padding: 100px 0;
background-color: #fafafa;}

.no-padding {
  padding: 0; }

.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

/* ==========================================================================
	$Header
========================================================================== */

.header-banner-principal{
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
}

.estrella{
  position: absolute;
  top: 320px;
  right: 880px;
  z-index: 2;
  width: 50px !important;
}

.moneda{
  position: absolute;
  top: 220px;
  right: 500px;
  z-index: 2;
  width: 50px !important;
}
.morado_b{
  position: absolute;
  top: 80px;
  left: 150px;
  z-index: 2;
  width: 50px !important;
}
.lila_r{
  position: absolute;
  top: 220px;
  right: 480px;
  z-index: 2;
  width: 10px !important;
}
.orange_t{
  position: absolute;
  top: 20px;
  right: 480px;
  z-index: 2;
  width: 30px !important;
}
.header-section-group{
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0;
  align-items: self-end;
}

.btn-header-gradiente{
  background: linear-gradient(93.31deg, #9469FE 0%, #FF79E0 48.96%, #FFBEA7 93.23%);
  border-radius: 8px;
  color: white !important;
}

.persona{
  display: block;
}


.header-persona{
  width: 300px;
  display: flex;
  align-items: baseline;
}

.header-persona > img{
  width: fit-content;
  padding: 0;
  max-width: 440px;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 999; }
  #header .header-content {
    margin: 0 auto;
    max-width: 1170px;
    padding: 40px 0;
    width: 80%;
    -moz-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s; }
  #header .logo {
    float: left; }

#header.fixed {
      background: linear-gradient(154deg, #141531, #311b49, #181a47);
      background-size: 1200% 1200%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;}

  @-webkit-keyframes AnimationName {
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}}
  @-moz-keyframes AnimationName {
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}}
  @keyframes AnimationName {
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}}


  #header.fixed .header-content {
    border-bottom: 0;
    padding: 25px 0; }
  #header.fixed .nav-toggle {
    top: 18px; }

.navigation.open {
  opacity: 0.9;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.navigation {
  float: right; }
  .navigation li {
    display: inline-block; }
  .navigation a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;
    font-weight: 700;
    margin-left: 40px;
    text-transform: uppercase; }
    .navigation a:hover, .navigation a.active {
      color: #fff; }

.nav-toggle {
  display: none;
  height: 44px;
  overflow: hidden;
  position: fixed;
  right: 5%;
  text-indent: 100%;
  top: 32px;
  white-space: nowrap;
  width: 44px;
  z-index: 99999;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .nav-toggle:before, .nav-toggle:after {
    border-radius: 50%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform; }
  .nav-toggle:before {
    background-color: #e84545;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .nav-toggle:after {
    background-color: #e84545;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s; }
  .nav-toggle span {
    background-color: #fff;
    bottom: auto;
    display: inline-block;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    width: 18px;
    z-index: 10;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .nav-toggle span:before, .nav-toggle span:after {
      background-color: #fff;
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transition: -moz-transform 0.3s;
      -o-transition: -o-transform 0.3s;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s; }
    .nav-toggle span:before {
      -moz-transform: translateY(-6px) rotate(0deg);
      -ms-transform: translateY(-6px) rotate(0deg);
      -webkit-transform: translateY(-6px) rotate(0deg);
      transform: translateY(-6px) rotate(0deg); }
    .nav-toggle span:after {
      -moz-transform: translateY(6px) rotate(0deg);
      -ms-transform: translateY(6px) rotate(0deg);
      -webkit-transform: translateY(6px) rotate(0deg);
      transform: translateY(6px) rotate(0deg); }
  .nav-toggle.close-nav:before {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  .nav-toggle.close-nav:after {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  .nav-toggle.close-nav span {
    background-color: rgba(255, 255, 255, 0); }
    .nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
      background-color: #fff; }
    .nav-toggle.close-nav span:before {
      -moz-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
      -webkit-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg); }
    .nav-toggle.close-nav span:after {
      -moz-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      -webkit-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg); }

/* ==========================================================================
	$Banner
========================================================================== */
.banner {
    background: linear-gradient(154deg, #141531, #1b1d49, #3e0833, #43127e, #141531, #181a47);
    background-size: 1200% 1200%;
    height: 700px;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

.banner-text {
  padding-top: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
  .banner-text h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 4.7rem;
  }
  .banner-text p {
    color: #fff;
    text-align: left;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px; }

/* ==========================================================================
	$Teams
========================================================================== */
#teams{
  background-color: #fafafa;
}

.parrafo-clientes{
  text-align: left;
}
  .person-content {
    margin-top: 20px; }
  .person h4 {
    font-weight: 400; }
  .person h5 {
    color: #e84545;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px; }

.social-icons, .footer .footer-share {
  margin-top: 30px; }
  .social-icons li, .footer .footer-share li {
    float: left; }
  .social-icons a, .footer .footer-share a {
    border: 1px solid #e8ecee;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #c6cacc;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    text-align: center;
    width: 40px; }
    .social-icons a:hover, .footer .footer-share a:hover {
      background-color: #e84545;
      border-color: #e84545;
      color: #fff; }

.section_ClientsOne_text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    margin-left: 20px;
}
.section_ClientsOne_text > h4{
    text-align: left;
    font-size: 1.1rem;
    font-weight: 400;
}
.section_ClientsOne_text > p{
    text-align: left;
    font-size: .9rem;
    color: #9a9a9a;
    font-weight: 300;
}
.section_ClientsFour,
.section_ClientsFive,
.section_ClientsSix{
    width: 460px;
    height: 435px;
    text-align: left;
}
.section_ClientsFour > h3{
    font-size: 24px;
    text-align: left;
    padding: 10px 0 0 0;
}
.section_ClientsFour > p{
    font-size: 14px;
    text-align: left;
    font-weight: 300;
}
.section_ClientsFive > h3{
    font-size: 24px;
    text-align: left;
    padding: 10px 0 0 0;
}
.section_ClientsFive > p{
    font-size: 14px;
    text-align: left;
    font-weight: 300;
}
.section_ClientsSix > h3{
    font-size: 24px;
    text-align: left;
    padding: 10px 0 0 0;
}
.section_ClientsSix > p{
    font-size: 14px;
    text-align: left;
    font-weight: 300;
}
.section_ClientsFive,
.section_ClientsSix{
    display: none;
}
/* ==========================================================================
	$Download
========================================================================== */
.download h3 {
  margin-top: 0; }
.download p {
  color: #2d3033;
  font-weight: 600;
  text-transform: uppercase; }
.download .btn {
  margin-top: 30px; }

/* ==========================================================================
	$Footer
========================================================================== */
.footer {
  text-align: center; }
  .footer-top {
    background-color: #3a3e64;
    padding-top: 50px; }
  .footer-bottom {
    background-color: #313454;
    padding: 20px 0; }
  .footer .footer-col {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .footer .fa-heart {
    color: #01b54f;
    font-size: 11px;
    margin: 0 2px; }


.footer-col > img{
  width: 70px;
}

.footer-col > p{
  text-align: left;
  color: white;
  font-size: 1rem;
}

.footer-col > ul{
  text-align: left;
  color: white;
  font-size: 1.1rem;
}
.footer-col > li{
  margin-bottom: 10px;
}

.logo-footer{
  display: flex;
  flex-direction: column;
}

.logo-footer > p{
  text-align: left;
  color: white;
  font-size: 1.1rem;
  padding-top: 10px;
}

.footer-hide-global{
  display: none;
}
/* ==========================================================================

========================================================================== */
@font-face {
  font-family: 'Poppins', sans-serif;
}
.icon {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }


/* ==========================================================================
  Seccion: Como lo hacemos realidad
========================================================================== */

.comolohacemos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 400px;
    background: #fff;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
    box-shadow: 1px 1px 2px 2px #e9e9e9a3;
}
.col-md-3.col-sm-6.feature.text-center {
  display: flex;
  justify-content: center;
}

.comolohacemos:hover{
    box-shadow: 5px 5px 15px 5px #afacac6b;
    transition-timing-function:ease-out;
    transition: 0.3s;
    transform: translateY(-3%);
    border:none;
}
.sectionsHowDoStyleH2{
  text-shadow: 1px 2px 2px #4f4f4f;
}

.comolohacemos:hover .sectionsHowDoStyleH2{
    text-shadow: 2px 3px 2px white;
}
.comolohacemos:hover .sectionsHowDoStyleP{
    text-shadow: 2px 3px 2px white;
}
.comolohacemos:hover .sectionsHowDoStyleLink{
    text-shadow: 2px 3px 2px white;
}
.sectionsHowDoStyleP{
  color: black;
  padding: 20px 0 10px 0;
  font-size: .9rem;
  text-shadow: 5px 2px 5px #949494;
  text-decoration: none;
}
.sectionsHowDoStyleLink{
  color: #482ff7;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 1px 2px 2px #949494;
}

/* ==========================================================================
  Seccion: Estrellas calificacion
========================================================================== */

:root {
    --color-inactivo: #5f5050;
    --color-hover: #ffa400;
}
.valoracion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 0 15px 0;
}
.valoracion button {
    background-color: initial;
    border: 0;
    color: var(--color-inactivo);
    transition: 1s all;
}
.valoracion button:hover {
    cursor: pointer;
    color: var(--color-hover);
    transform: rotate(360deg);
}
.valoracion button:nth-child(1):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
.valoracion button:nth-child(2):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
.valoracion button:nth-child(3):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
.valoracion button:nth-child(4):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
.valoracion button:nth-child(5):hover ~ button {
    color: var(--color-hover);
    transform: rotate(360deg);
}
/* fin estrellas animadas*/

/* ==========================================================================
  Seccion: Clientes
========================================================================== */
.section_ClientsOne,.section_ClientsTwo,.section_ClientsThree{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 477px !important;
    height: 127px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(76, 78, 155, 0.08);
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
}

/* ==========================================================================
  Seccion: Media querys
========================================================================== */

@media only screen and (max-width: 1038px) {
    h2{
      font-size: 25px;
      color: #2d3033;
      text-align: center;
    }
    p {
        font-size: 12px;
        line-height: 22.4px;
        color: #6c7279;
        text-align: center;
    }

    .persona{
      display: none;
    }
  .header-persona {
      display: none;
  }
  .section_ClientsFour, .section_ClientsFive, .section_ClientsSix {
      display: none;
  }
  .section_ClientsOne, .section_ClientsTwo, .section_ClientsThree {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px!important;
      height: 127px;
      background: #FFFFFF;
      box-shadow: 0px 4px 40px rgb(76 78 155 / 8%);
      border-radius: 20px;
      margin: 20px;
      cursor: pointer;
  }
  .footer .footer-col {
    margin-bottom: 50px !important;
  }
}








@media only screen and (max-width: 375px) {
 h2{
  font-size: 20px;
  color: #2d3033;
  text-align: center;
}
p {
    font-size: 11px;
    line-height: 22.4px;
    color: #6c7279;
    text-align: center;
}
.footer-hide-global{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  color: white;
  font-size: 1rem;
  padding-bottom: 15px;
}
.footer-show-global{
  display: none;
}
}